In [91]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [92]:
showdrink = pd.read_csv("drink.csv")

In [93]:
showdrink.head(15)

    age  gender   drink
0    21       1    coke
1    30       1  coffee
2    35       0     tea
3    55       0   water
4    19       0  orange
5    60       1     tea
6    39       0   water
7    25       1    coke
8    44       1  coffee
9    47       0   water
10   33       0     tea
11   65       1     tea

In [94]:
feature_cols = ['age', 'gender']
X = showdrink[feature_cols]
y = showdrink.drink
X

    age  gender
0    21       1
1    30       1
2    35       0
3    55       0
4    19       0
5    60       1
6    39       0
7    25       1
8    44       1
9    47       0
10   33       0
11   65       1

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [96]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [97]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5

In [100]:
x_train, x_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=1)
model = DecisionTreeClassifier()
model.fit(x_train.values, Y_train)
predictions = model.predict([[30,1]])
predictions

array(['coffee'], dtype=object)

In [101]:
import joblib
joblib.dump(model, 'drink-recommender.joblib')

['drink-recommender.joblib']